/* GLOBAL */
body {
  font-size: 16px;
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
  color: #222222;
  text-align: center;
  margin: 0;
  background-color: #FFFFFF;
}

h2, h3 {
  color: #FFFFFF;
}

h3 {
  font-size: 40px;
  letter-spacing: -1px;
}

h3, h5 {
  font-family: "Libre Baskerville", serif;
}

h2, h4, p {
  font-family: "Montserrat", sans-serif;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h4 {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  margin-top: 120px;
  margin-bottom: 0;
  color: #222222;
  letter-spacing: -1px;
}

.section-title h5 {
  font-weight: lighter;
  font-family: "Libre Baskerville", serif;
  margin-top: 0;
  margin-bottom: 80px;
  color: #777777;
  font-size: 16px;
}

[class^="col"] {
  padding-left: 0;
  padding-right: 0;
}

/* SPLASH */
h1 {
  font-family: "Romanesco", cursive;
  font-size: 38px;
  color: #fed136;
  margin-top: 20px;
  margin-right: 56px;
  letter-spacing: 5px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  margin-top: 22px;
  margin-bottom: 59px;
  font-weight: bolder;
  letter-spacing: -1.88px;
}

.splash {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(/images/background.jpg);
}

.splash .container {
  position: absolute;
  min-width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.splash .container .menu ul {
  list-style-type: none;
  text-align: left;
  width: 100%;
  margin-top: 40px;
}

.splash .container .menu ul li {
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  line-height: 41px;
}

.splash .container .menu ul li a {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 40px;
}

.splash .splash-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.splash .splash-inner .btn {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  background: #fed136;
  border: none;
  border-radius: 4px;
  width: 240px;
  height: 65px;
}

.splash .splash-inner h3 {
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.splash::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  opacity: 0.5;
}

/* SERVICES */
.services i {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  border: 3px solid #fed136;
  font-size: 32px;
  line-height: 60px;
  color: #fed136;
}

.services h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 27px;
  margin-bottom: 18px;
}

.services p {
  font-family: "Roboto Slab", serif;
  color: #777777;
  font-size: 14px;
  margin: 0 28px 120px 28px;
}

/* PORTFOLIO */
.portfolio {
  background-color: #f7f7f7;
}

.portfolio .card {
  background-color: #f7f7f7;
}

.portfolio .card .card-img {
  height: 300px;
  margin: 0 44px;
}

.portfolio .card .card-img img {
  vertical-align: bottom;
  height: 100%;
}

.portfolio .card .card-text {
  background-color: #FFFFFF;
  padding-top: 29px;
  padding-bottom: 27px;
}

.portfolio .card h5 {
  margin: 2px 0 0 0;
  font-weight: lighter;
  font-family: "Libre Baskerville", serif;
  color: #737373;
  font-size: 14px;
}

.portfolio .card h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  color: #333333;
  font-size: 18px;
}

.portfolio .col {
  padding-top: 45px;
}

/* FOOTER */
footer {
  padding-top: 54px;
}

footer .footer-text {
  font-size: 14px;
  margin-top: 22px;
}

footer ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0;
}

footer ul li {
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  width: 38px;
  background-color: #222222;
  border-radius: 50%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 15px;
  transition: all 1s;
}

footer ul li:hover {
  transform: scale(1.2);
}

footer ul li i {
  color: #FFFFFF;
  font-size: 20px;
}

/* MEDIA */
@media (max-width: 541px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
    width: auto;
    height: auto;
  }
  .menu ul li {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */