/* GLOBAL */

$font-logo: 'Muli', sans-serif;

$font-decor: 'Merriweather', serif;

$font-text: 'Muli', sans-serif;

$color-body: #FFFFFF;

$color-text: #0000001e;

$color-decor: #f0e00a;

body {
  font-size: 1rem;
  line-height: 1.7;
  font-family: $font-text;
  margin: 0;
  background-color: $color-body;
  font-family: $font-text;
  color: $color-text;
}

/* NAVIGATION */



/* SPLASH */

/* SERVICES */

/* PORTFOLIO */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: $color-body;
  background-clip: border-box;
  border: none;
  border-radius: 0.25rem;
}




/* FOOTER */

/* MEDIA */

