/* GLOBAL */

$font-logo: 'Romanesco', cursive;

$font-decor: 'Libre Baskerville', serif;

$font-description: 'Roboto Slab', serif;

$font-text: 'Montserrat', sans-serif;

$color-body: #FFFFFF;

$color-text: #000000;

$color-decor: #ffee00;

$color-background: #f7f7f7;

$transition: all 1s;

body {
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-text;
  color: $color-text;
  text-align: center;
  margin: 0;
  background-color: $color-body;
}

h2, h3 {
  color: $color-body;
}

h3 {
  font-size: 48px;
}

h3, h5 {
  font-family: $font-decor;
}

h2, h4, p {
  font-family: $font-text;
}

.section-title {
  margin-bottom: 40px;
  h4 {
    font-weight: bold;
    font-family: $font-text;
    font-size: 36px;
    margin-top: 120px;
    margin-bottom: 20px;
  }
  h5 {
    font-weight: lighter;
    font-family: $font-decor;
    margin-bottom: 80px;
  }
}

/* SPLASH */

h1 {
  font-family: $font-logo;
  font-size: 38px;
  color: $color-decor;
  margin-top: 20px;
  margin-right: 56px;
}

h2 {
  font-family: $font-text;
  font-size: 80px;
  margin-top: 30px;
  font-weight: bolder;
  letter-spacing: 10px;
}

.splash {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(/images/background.jpg);
  .container {
    position: absolute;
    min-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    .menu {
      ul {
        list-style-type: none;
        text-align: left;
        width: 100%;
        margin-top: 40px;
        li {
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          font-family: $font-text;
          font-weight: bolder;
          color: $color-body;
          a {
            text-decoration: none;
            color: $color-body;
            margin-right: 32px;
          }
        }
      }
    }
  }
  .splash-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    .btn {
      color: $color-body;
      font-family: $font-text;
      font-size: 20px;
      font-weight: bolder;
      background: $color-decor;
      border: none;
      border-radius: 10px;
      width: 250px;
      height: 70px;
    }
  }
}

.splash::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-text;
  opacity: 0.5;
}

/* SERVICES */

.services {
  i {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid $color-decor;
    font-size: 32px;
    line-height: 60px;
    color: $color-decor;
  }
  h6 {
    font-family: $font-text;
    font-weight: bold;
    font-size: 20px;
  }
}


/* PORTFOLIO */

.portfolio {
  background-color: $color-background;
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: $color-background;
    background-clip: border-box;
    margin: 0 auto;
    .card-text {
      background-color: $color-body;
    }
    .card-img {
      height: 300px;
      img {
      vertical-align: bottom;
      height: 100%;
      object-fit: cover;
      }
    }
  }
  h5 {
    margin-top: 10px;
    font-weight: lighter;
    font-family: $font-decor;
  }
  h6 {
    font-family: $font-text;
    font-weight: bold;
    font-size: 18px;
    margin: 0 auto;
  }
  .col {
    padding-top: 45px;
  }
}



/* FOOTER */

footer {
  padding-top: 80px;
  ul {
    display: flex;
    justify-content: center;
    padding: 0;
    li {
      display: flex;     
      height: 38px;
      width: 38px;
      background-color: $color-text;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin: 0 15px;
      transition: $transition;
      &:hover {
        transform: scale(1.2);
      }
      i {
        color: $color-body;
        font-size: 20px;
      } 
    }
  }
}

/* MEDIA */

@media (max-width: 541px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
    width: auto;
    height: auto;
  }
  .menu {
    ul {
      li {
        font-size: 12px;
      }
    }
  }
}

